body,
html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1,
.bgimg-2,
.bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: center;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('../images/Logo500x500.png');
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url('../images/creation-de-points-d-eau.jpg');
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url('../images/abattages-et-elagages-d-arbres.jpg');
  min-height: 400px;
}

.w3-hover-opacity {
  cursor: pointer;
}

.gradiant-container {
  height: 75vh;
  background: linear-gradient(
    rgba(51, 255, 0, 0.296) 0%,
    rgba(173, 255, 114, 0.25) 86%,
    rgb(255, 255, 255) 100%
  );
  background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and(max-device-width: 1600px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}
