{% extends 'base.html.twig' %}

{% block title %}Services
{% endblock %}

{% block body %}
	<style></style>

	<section class="creation">
		<article>
			<h2>Création</h2>
			<div class="metadata">
				Irure labore duis velit fugiat ullamco voluptate nisi laborum aute ad enim exercitation. Occaecat cupidatat sit in esse.
			</div>
			<div class="content">
				<p>Ad labore aute officia exercitation consequat sint pariatur cupidatat laborum incididunt sunt. Ad duis laboris mollit et mollit excepteur dolore. Fugiat non nulla enim consectetur veniam ad pariatur ex laborum anim.</p>
			</div>
		</article>
		<div class="row">
			{% for image in images %}
				<div class="col-12" style="border: 1px solid red">
					<div>
						<img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="Nicolas Droolans, entretien et création de jardins, catégorie services - Création ">
					</div>
					<a>
						<h3>{{ image.nom }}</h3>
						<p>{{ image.description|u.truncate(200, '...', false) }}</p>

						<p>
							<time datetime>Ajoutée le
								{{ image.createdAt|date('d/m/Y') }}</time>
						</p>
					</a>
				</div>
			{% endfor %}
		</div>
	</section>


	{% set img = service.images|last %}
	<section class="pt-12 pt-md-14 pb-12 pb-md-15 bg-gray-900" style="margin-top: 30px;">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-md-10 col-lg-7 text-center">
					<h1 class="display-2 fw-bold text-white">
						{{service.nom}}
					</h1>
					<p>
						{{service.description}}</p>
				</div>
			</div>
		</div>
	</section>
	<section class="py-8 py-md-11 mt-n10 mt-md-n14">
		<div class="container">
			<div class="row" id="service-creation">
				{% for image in images %}
					<div class="col-12 col-md-4">
						<a class="card shadow-light-lg mb-7" href="#!">
							<img class="card-img" src="{{ vich_uploader_asset(image, 'imageFile') }}" alt=" ..."/>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>


{% endblock %}
