{% extends 'base.html.twig' %}

{% block body %}

	<!-- First Parallax Image with Logo Text -->
	<div class="gradiant-container">
		<div class="bgimg-1 display-container" id="home">

			<div class="center padding-120">
				<span class="center  xlarge animate-opacity">MY Lorem ipsum dolor sit amet consectetur
					adipisicing elit. Voluptates nihil reiciendis velit distinctio praesentium consequuntur
					illo, laboriosam numquam deserunt aspernatur nostrum exercitationem odio sapiente
					inventore quidem temporibus quam amet accusamus.
					<span class="hide-small">WEBSITE</span>
					LOGO</span>
			</div>
		</div>
	</div>

	<!-- Container (Portfolio Section) -->
	<div class="content container padding-64" id="portfolio">
		<h3 class="center">Services</h3>
		<p class="center">
			<em>Here are some of my latest lorem work ipsum tipsum.<br> Click on the images to make
				them bigger</em>
		</p><br>

		<!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile
		devices/small screens (100% width) -->
		<div class="row-padding center">
			<div class="col m3">
				<img
					src="/images/entretien-de-jardin.jpg"
					style="width:100%"
					onclick="onClick(this)"
					class="hover-opacity"
					alt="Entretien de jardin">
				<p>Entretien de jardin</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
			</div>

			<div class="col m3">
				<img
					src="/images/vente-et-pose-de-cloture.jpg"
					style="width:100%"
					onclick="onClick(this)"
					class="hover-opacity"
					alt="Clôtures">
				<p>Clôtures</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
			</div>

			<div class="col m3">
				<img
					src="/images/terrasse.jpg"
					style="width:100%"
					onclick="onClick(this)"
					class="hover-opacity"
					alt="Terrasse">
				<p>Terrasse</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
			</div>

			<div class="col m3">
				<img
					src="/images/pavages.jpg"
					style="width:100%"
					onclick="onClick(this)"
					class="hover-opacity"
					alt="Pavages">
				<p>Pavages</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
			</div>
		</div>

		<div class="row-padding center section">
			<div class="col m3">
				<img
					src="/images/amenagement-de-jardin.jpg"
					style="width:100%"
					onclick="onClick(this)"
					class="hover-opacity"
					alt="Amenagement de jardin">
				<p>Amenagement de jardin</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
			</div>

			<div class="col m3">
				<img
					src="/images/abattages-et-elagages-d-arbres.jpg"
					style="width:100%"
					onclick="onClick(this)"
					class="hover-opacity"
					alt="Abattages et élagages">
				<p>Abattages et élagages</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
			</div>

			<div class="col m3">
				<img
					src="/images/pose-de-chalet.jpg"
					style="width:100%"
					onclick="onClick(this)"
					class="hover-opacity"
					alt="Pose de chalet">
				<p>Abris de jardins</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
			</div>

			<div class="col m3">
				<img
					src="/images/creation-de-points-d-eau.jpg"
					style="width:100%"
					onclick="onClick(this)"
					class="hover-opacity"
					alt="Points d'eau">
				<p>Points d'eau</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
			</div>
			<button class="button padding-large light-grey" style="margin-top:64px">LOAD MORE</button>
		</div>
	</div>

	<!-- Second Parallax Image with Portfolio Text -->
	<div class="bgimg-2 display-container">
		<div class="display-middle">
			<span class="xxlarge text-white wide">SALUT</span>
		</div>
	</div>

	<!-- Modal for full size images on click-->
	<div id="modal01" class="modal black" onclick="this.style.display='none'">
		<span class="button large black display-topright" title="Close Modal Image">
			<i class="fa fa-remove"></i>
		</span>
		<div class="modal-content animate-zoom center transparent padding-64">
			<img id="img01" class="image">
			<p id="caption" class="opacity large"></p>
		</div>
	</div>

	<div id="art-width-02" class="art-content-layout">
		<div class="art-content-layout-row responsive-layout-row-1">
			<div class="art-layout-cell" style="width: 100%; padding: 70px 10px 70px 10px;">
				<center
					class="span4 prianimation fadeIn prianimated prianimated"
					style="visibility: visible; animation-name: fadeIn;">
					<h1 style="padding-bottom: 20px;">
						<span style="font-size: 40px;">xxxxxxxxx</span>
					</h1>
					<h2 style="padding-bottom: 20px;">
						Jardinier, aménagement et entretien
					</h2>
					<p>
						Passionné par son métier xxxxx met à votre service tout son talent de jardinier paysagiste
						mais aussi son savoir-faire en terrassement, abattage, élagage et pose de clôture en
						Brabant-Wallon.
					</p>
					<p style="padding-top: 20px;">
						Vous désirez refaire votre allée, avoir un magnifique jardin ou respecter les normes
						d’élagages, laissez faire un vrai professionnel amoureux de son métier.
					</p>
					<p style="padding-top: 40px;">
						<a title="entretien de jardin en Brabant-Wallon" href="{{ path ("services") }}">
							Découvrez nos services.
						</a>
					</p>
				</center>
			</div>
		</div>
	</div>
{% endblock %}
