{% extends 'base.html.twig' %}

{% block title %}Services
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {

			align: center;
			margin: auto;
			max-width: 800px;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
		}
	</style>
	<section class="services">
		<article>
			<h2>Création</h2>
			<div class="metadata">
				Irure labore duis velit fugiat ullamco voluptate nisi laborum aute ad enim exercitation. Occaecat cupidatat sit in esse.
			</div>
			<div class="content">
				<img src="http://placehold.it/350x150" alt="Nicolas Droolans, entretien et création de jardins, catégorie services - Création ">
				<p>Ad labore aute officia exercitation consequat sint pariatur cupidatat laborum incididunt sunt. Ad duis laboris mollit et mollit excepteur dolore. Fugiat non nulla enim consectetur veniam ad pariatur ex laborum anim.</p>
				<a href="" class="btn btn-primary">Acceder</a>
			</div>
		</article>
		<article>
			<h2>Entretien</h2>
			<div class="metadata">
				Irure labore duis velit fugiat ullamco voluptate nisi laborum aute ad enim exercitation. Occaecat cupidatat sit in esse.
			</div>
			<div class="content">
				<img src="http://placehold.it/350x150" alt="Nicolas Droolans, entretien et création de jardins, catégorie services - Entretien">
				<p>Ad labore aute officia exercitation consequat sint pariatur cupidatat laborum incididunt sunt. Ad duis laboris mollit et mollit excepteur dolore. Fugiat non nulla enim consectetur veniam ad pariatur ex laborum anim.</p>
				<a href="" class="btn btn-primary">Acceder</a>
			</div>
		</article>
		<article>
			<h2>Aménagements</h2>
			<div class="metadata">
				Irure labore duis velit fugiat ullamco voluptate nisi laborum aute ad enim exercitation. Occaecat cupidatat sit in esse.
			</div>
			<div class="content">
				<img src="http://placehold.it/350x150" alt="Nicolas Droolans, entretien et création de jardins, catégorie services - Aménagements">
				<p>Ad labore aute officia exercitation consequat sint pariatur cupidatat laborum incididunt sunt. Ad duis laboris mollit et mollit excepteur dolore. Fugiat non nulla enim consectetur veniam ad pariatur ex laborum anim.</p>
				<a href="" class="btn btn-primary">Acceder</a>
			</div>
		</article>
		<article>
			<h2>Abattage & Elagage</h2>
			<div class="metadata">
				Irure labore duis velit fugiat ullamco voluptate nisi laborum aute ad enim exercitation. Occaecat cupidatat sit in esse.
			</div>
			<div class="content">
				<img src="http://placehold.it/350x150" alt="Nicolas Droolans, entretien et création de jardins, catégorie services - Abattage et Elagage">
				<p>Ad labore aute officia exercitation consequat sint pariatur cupidatat laborum incididunt sunt. Ad duis laboris mollit et mollit excepteur dolore. Fugiat non nulla enim consectetur veniam ad pariatur ex laborum anim.</p>
				<a href="" class="btn btn-primary">Acceder</a>
			</div>
		</article>
	</section>

	<h1>------------ TEST ----------------</h1>

	<section class="pt-12 pt-md-14 pb-12 pb-md-15 bg-gray-900" style="margin-top: -87px;">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-md-10 col-lg-7 text-center">

					<h1 class="display-2 fw-bold text-white">
						Services
					</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="py-8 py-md-11 mt-n10 mt-md-n14">
		{% for service in services %}
			{% set image = service.images|last %}
			<div class="col-12 col-md-4 ux">
				<a href="{{ path ('serviceBySlug', {'slug': service.slug}) }}">
					<img class="card-img-top" src="{{ vich_uploader_asset(image, 'imageFile') }}" alt=" ..."/>
					<div class="card-body">
						<h4 class="mb-0">{{ service.nom }}</h4>
						<small>{{ service.description }}</small>
					</div>
				</a>
			</div>
		{% endfor %}
	</section>
{% endblock %}
