<!-- Footer -->
<footer class="center black padding-64 opacity hover-opacity-off">
	<a href="#home" class="button light-grey">
		<i class="fa fa-arrow-up margin-right"></i>
		Retour au top
	</a>
	<div class="xlarge section">
		<i class="fa fa-facebook-official hover-opacity"></i>
		<i class="fa fa-instagram hover-opacity"></i>
		<i class="fa fa-snapchat hover-opacity"></i>
		<i class="fa fa-pinterest-p hover-opacity"></i>
		<i class="fa fa-twitter hover-opacity"></i>
		<i class="fa fa-linkedin hover-opacity"></i>
	</div>
	<div style="text-align: center;">
		<h3>Parcs et jardins Nicolas Droolans</h3>
		<address>
			Rue de X<br>1500 Wavre
		</address><br>
		<p>
			T. 0474/ 48 26 11<br>E. info(@)?????.be
		</p>
	</div>
	<p style="text-align: center;">
		En navigant sur ce site, vous acceptez notre
		<a href="#">
			politique de confidentialité.
		</a>
	</p>
	<p>
		© 2019. Parcs et jardins - Nicolas Droolans | Optimisé par :
		<a href="#" title="Nicolas Droolans" target="_blank" class="hover-text-green">xxxxxx</a>
	</p>
