{% extends 'base.html.twig' %}

{% block title %}Services
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {

			align: center;
			margin: auto;
			max-width: 800px;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
		}
	</style>
	<section class="contact">
		{{ form_start (form) }}
		{% for message in app.flashes('success') %}
			<div class="alert alert.success">
				{{ message }}
			</div>
		{% endfor %}

		<div class="my-custom-class-for-errors">
			{{ form_errors (form) }}
		</div>

		<div class="form-group">
			<label for="nom">{{ form_label (form.nom) }}</label>
			{{ form_widget (form.nom)}}
		</div>

		<div class="form-group">
			<label for="Email">{{ form_label (form.email) }}</label>
			{{ form_widget (form.email)}}
		</div>

		<div class="form-group">
			<label for="Message">{{ form_label (form.message) }}</label>
			{{ form_widget (form.message)}}
		</div>

		<div class="form-group">
			{{ form_widget (form.envoyer)}}
		</div>

		{{ form_end (form) }}
	</section>

	<div>-------------------------------------------------------------------</div>

	<section class="contact">
		<form>
			<fieldset>
				<legend>Legend</legend>

				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
					<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
				</div>

				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>
				<div class="form-group">
					<label for="exampleTextarea">Example textarea</label>
					<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
				</div>

				<div class="form-group">
					<label for="exampleInputFile">File input</label>
					<input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
					<small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
				</div>

				<fieldset class="form-group">
					<legend>Checkboxes</legend>
					<div class="form-check">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox" value="">
							En soumettant ce formulaire, j'accepte que les informations saisies soient exploitées dans le cadre de la relation commerciale qui peut en découler.
						</label>
					</div>
				</fieldset>
				<button type="submit" class="btn btn-primary">Submit</button>
			</fieldset>
		</form>
	</section>


{% endblock %}
