<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name"viewport" content="width=device-width, initial-scale=1">

		<title>
			{% block title %}Parcs & Jardins - Droolans{% endblock %}
		</title>

		{% block stylesheets %}
			<link
				rel="stylesheet"
				href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<link rel="stylesheet" href="css/style.css">
			<link rel="stylesheet" href="css/normalize.css">
		{% endblock %}
	</head>
	<body>

		{% include "nav/nav.html.twig" %}

		{% block body %}{% endblock %}

		{% include "footer/footer.html.twig" %}

		{% block javascripts %}
			<script src="js/script.js"></script>
		{% endblock %}
	</body>
</html>
