{% extends 'base.html.twig' %}

{% block title %}Galerie photo - En images
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {

			align: center;
			margin: auto;
			max-width: 800px;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
		}
	</style>
	<section class="en-images">
		<article>
			<h2>En images</h2>
			<div class="metadata">
				Irure labore duis velit fugiat ullamco voluptate nisi laborum aute ad enim exercitation. Occaecat cupidatat sit in esse.
			</div>
			<div class="content" style="text-align:center">
				{% for image in images %}
					<div>
						<img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="avant ">
						<img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="apres ">
					</div>
				{% endfor %}
			</div>
		</article>
		<div class="d-flex justify-content-center">
			{% do images.setPageRange(3) %}
			{{ knp_pagination_render(images, 'pagination.html.twig') }}
		</div>
	</section>
{% endblock %}
