<!-- Navbar (sit on top) -->
<div class="top">
	<div class="bar" id="myNavbar">
		<a
			class="bar-item button hover-black hide-medium hide-large right"
			href="javascript:void(0);"
			onclick="toggleFunction()"
			title="Toggle Navigation Menu">
			<i class="fa fa-bars"></i>
		</a>
		<a href="{{ path ("index") }}" class="bar-item button">HOME</a>
		<a href="{{ path ("services") }}" class="bar-item button hide-small">
			<i class="fa fa-user"></i>
			SERVICES</a>
		<a href="{{ path ("en-images") }}" class="bar-item button hide-small">
			<i class="fa fa-th"></i>
			EN IMAGES</a>
		<a href="{{ path ("contact") }}" class="bar-item button hide-small">
			<i class="fa fa-envelope"></i>
			CONTACT</a>
		<a href="{{ path ("admin") }}" class="bar-item button hide-small right">
			<img src="/images/Logo37x20.png" alt="Parcs et jardins Droolans">
			<figcaption style="display: none">Nicolas Droolans Logo</figcaption>
		</a>
	</div>

	<!-- Navbar on small screens -->
	<div id="navDemo" class="bar-block white hide hide-large hide-medium">
		<a href="{{ path ("services") }}" class="bar-item button" onclick="toggleFunction()">SERVICES</a>
		<a href="{{ path ("en-images") }}" class="bar-item button" onclick="toggleFunction()">EN IMAGES</a>
		<a href="{{ path ("contact") }}" class="bar-item button" onclick="toggleFunction()">CONTACT</a>
		{#<a href="#" class="bar-item button">LOGO</a>#}
	</div>
</div>

{#<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" href="{{ path ("index") }}">
	</a>
	<button
		class="navbar-toggler"
		type="button"
		data-toggle="collapse"
		data-target="#navbarColor01"
		aria-controls="navbarColor01"
		aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="{{ path ("services") }}">Services</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path ("en-images") }}">En images</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path ("contact") }}">Contact</a>
			</li>
		</ul>
	</div>
</nav>
#}
